* {
    box-sizing: border-box;
}

html {
    font-family: "Poppins";
    font-size: 16px;
}

body {
    margin: 0;
}

.container {
    width: 1170px;
    padding: 0 16px;
    margin: 0 auto;
}

:root {
    --primary-bg-color: #1B004E; 
    --secondary-bg-color: #FFF6FB; 
}

/*
100 = thin
200 = extra light
300 = light
400 = Normal / Regular
500 = Medium
600 = semi bold
700 = bold
800 = extra bold
900 = black
*/

h1 {
    font-weight: 600;
    font-size: 64px;
    line-height: 76px;
}

h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}

h3 {
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
}

h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}

h1,
h2,
h3,
h4,
h5,
p{
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

header{
    background-color: var(--primary-bg-color);
}

.navigation{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 25px 16px;
}

.logo-name{
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
}

.logo {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

ul{
    display: flex;
    gap: 20px;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 24px;
    align-items: center;
}

.navigation-bar{
    display: flex;
    align-items: center;
}

nav button {
    border: 2px #EB5757 solid;
    border-radius: 50px;
    padding: 15px 30px;
    background-color: transparent;
    color: white;
    font-weight: 500;
    font-size: 17px;
    transition: all .3s;
}

nav button:hover {
    background-color: #EB5757;
}

nav button:active {
    background-color: #852f2f;
    border: 2px #852f2f solid;
}

.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.context {
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    color: white;
    width: 665px;
    line-break: normal;
}

.context-sub {
    font: "Inter";
    line-height: 28px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    width: 500px;
    line-break: normal;
    margin: 10px 0;
}

.header button {
    border: 2px #EB5757 solid;
    border-radius: 50px;
    padding: 15px 30px;
    background-color: #EB5757;
    color: white;
    font-weight: 500;
    font-size: 17px;
    width: 191px;
    transition: all .3s;
}

.header button:hover {
    border: 2px #EB5757 solid;
    background-color: transparent;
}

.header button:active {
    border: 2px #852f2f solid;   
}

.contextContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.marketTable {
    width: 100%;
    color: white;
    margin-bottom: 110px;
}

.marketTableContainer {
    padding-top: 256px;
    background-color: var(--primary-bg-color);
    display: flex;
}

table, th, td {
  border: 0.6px solid #BDBDBD;
  border-collapse: collapse;
  border-right: 0;
  border-left: 0;
}

th, td {
    padding: 20px 30px;
    height: 35px;
    text-align: center;
}

.caption {
    color: white;
    font-weight: 700;
    font-size: 32px;
    padding-bottom: 60px;
}

.specialCell {
    text-align: left;
    font-weight: 400;
    font-size: 13px;
    vertical-align: middle;
}

.specialCell img {
    padding: auto;
}

.head {
    font-size: 14px;
    font-weight: 500;
}

tbody span {
    font-weight: 400;
    font-size: 11px;
    color: #828282;
}

.stockValueUp {
    color: #1AFF7C;
    font-size: 13px;
    font-weight: 400;
}

.stockValueDown {
    color: #FF1A1A;
    font-size: 13px;
    font-weight: 400;
}

.features .title {
    color: #171717;
    font-weight: 700;
    font-size: 32px;
    padding-top: 100px;
    text-align: center;
}

.features .info {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.infosection .title{
    font-weight: 600;
    font-size: 24px;
    color: #000000;
    text-align: left;
}

.infosection .sub{
    margin-top: 25px;
    font-weight: 400;
    font-size: 17px;
    color: #000;
}

.app {
    padding: 105px  0;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    align-items: center;
}

.appLeft {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.appContext {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.appLeft .title{
    color: white;
    font-weight: 700;
    font-size: 32px;
    width: 600px;
}

.appLeft .paragraph {
    color: white;
    font-weight: 400;
    font-size: 17px;
    width: 500px;
}

.download {
    display: flex;
    gap: 30px;
}

.appStore {
    transition: all .3s;
    padding: 0;
    background-color: transparent;
    border: none;
    background: transparent url("./appStore.png") no-repeat;
    width: 160px;
    height: 56px;
}

.googlePlay {
    transition: all .3s;
    padding: 0;
    background-color: transparent;
    border: none;
    background: transparent url("./googlePlay.png") no-repeat;
    width: 170px;
    height: 56px;
}

.buttonDirector {
    display: block;
    height: inherit;
}

.news {
    padding: 100px 0 110px;
}

.news .title {
    font-weight: 600;
    font-size: 32px;
    color: #000;
    text-align: center;
}

.newsTilesContainer {
    display: flex;
    justify-content: space-between;
}

.newsTiles {
    width: 368px;
    height: fit-content;
    background-color: #FFF;
}

.newsTiles .title {
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

.newsTiles .sub {
    color: #4F4F4F;
    font-size: 14px;
    font-weight: 400;
    font-family: "Open sans", sans-serif;
}